/* (البداية)أنماط عامة لكل الصفحات- */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin-top: 120px;
  padding: 0;
  direction: rtl;
}
.settings-body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin-top: 0;
  padding: 0;
  direction: rtl;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header h2 {
  margin-right: 50px;
}
.container {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#h2-post {
  text-align: center;
  margin-right: 50px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 18px;
}
button {
  background-color: #63e6be;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
}
button:hover {
  background-color: #4ecaa0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.icon-btn {
  position: relative;
  text-decoration: none;
  font-size: 24px;
  color: #63e6be;
  padding: 40px;
}
.icon-btn::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: #63e6be;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.icon-btn:hover::after {
  opacity: 1;
  top: 90px;
  left: 10px;
}
.hidden {
  display: none;
}
input,
select,
textarea {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #63e6be;
  outline: none;
  box-shadow: 0 0 5px rgba(99, 230, 190, 0.5);
}
/* (النهاية)أنماط عامة لكل الصفحات */

/*--------------------------------------------------------------------------------*/

/* (البداية)أنماط الصفحة الرئيسية index*/
.container-index {
  padding: 20px;
  margin: 130px auto;
  width: 50%;
  border-radius: 10px;
  display: grid;
  justify-content: center;
}
.container-index h2 {
  text-align: center;
}
span {
  color: #63e6be;
}
#p_index {
  margin-right: 30px;
  font-size: 23px;
  text-align: center;
}
.toggle-buttons button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 15px;
  width: 90%;
  margin-top: 20px;
  margin-right: 25px;
}
.toggle-buttons {
  margin-top: 21px;
}
#btn-login-register {
  width: 100%;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
}
#login-form .btn-login-register,
#btn-login-register {
  background-color: #63e6be;
  color: white;
  padding: 15px 30px;
  font-size: 22px;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
}
#login-form .btn-login-register:hover,
#btn-login-register:hover {
  background-color: #4ecaa0;
}
#doctorFields {
  display: none;
}
/* (النهاية)أنماط الصفحة الرئيسية index*/

/*--------------------------------------------------------------------------------*/

/* (البداية)أنماط الصفحة الرئيسية doctor_dashboard*/

/* (النهاية)أنماط الصفحة الرئيسية doctor_dashboard*/

/*--------------------------------------------------------------------------------*/

/* (البداية)أنماط الصفحة الرئيسية patient_dashboard*/

/* (النهاية)أنماط الصفحة الرئيسية patient_dashboard*/

/*--------------------------------------------------------------------------------*/

/* (البداية)أنماط الصفحة الرئيسية appointments*/
.container-appointments {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}
th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}
th {
  background-color: #63e6be;
  color: white;
  font-size: 18px;
}
td {
  font-size: 16px;
  color: #333;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-left: -230px;
  gap: 0px;
  margin-right: 38px;
}
.button-container button {
  font-size: 20px;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}
.button-container button::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}
.button-container button:hover::after {
  opacity: 1;
}
.cancel-btn:hover {
  background-color: #c9302c;
}
.confirm-btn:hover {
  background-color: #2cf803;
}
#error {
  font-size: 20px;
  color: #f70b02;
}
/* (النهاية)أنماط الصفحة الرئيسية appointments*/

/*--------------------------------------------------------------------------------*/

/* (البداية)أنماط الصفحة الرئيسية chat*/
.chat-container {
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#start {
  font-size: 20px;
  margin-right: 160px;
}
.chat-box {
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  scroll-behavior: auto;
}
:-webkit-scrollbar {
  display: none;
}

.message {
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 75%;
  word-wrap: break-word;
}
.sent {
  background: #007bff;
  color: white;
  text-align: right;
  float: right;
  clear: both;
}
.received {
  background: #e9ecef;
  text-align: left;
  float: left;
  clear: both;
}
.message-form {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: 0px solid #ccc;
}
textarea {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
  text-align: right;
  font-size: 16px;
  margin-left: 80px;
}
#send {
  font-size: 27px;
  margin-left: 0px;
  margin-right: -20px;
  background-color: white;
  color: #63e6be;
}
/* زر "+" لإظهار خيارات الملفات */
.file-upload {
  width: 0px;
  position: relative;
  display: inline-block;
}
#toggle-btn {
  background-color: #fff;
  color: #4ecdc4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -80px;
}
.file-buttons {
  display: none;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  bottom: 50px;
  left: 0;
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.file-upload:hover .file-buttons {
  display: flex;
}
.custom-btn {
  background: #4ecdc4;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  position: relative;
}
.custom-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.custom-btn:hover::after {
  opacity: 1;
}
/* (النهاية)أنماط الصفحة الرئيسية chat*/

/*--------------------------------------------------------------------------------*/
#photo-btn {
  background: #4ecdc4;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  float: left;
  left: 100px;
}
label {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
label i {
  margin-left: 8px;
  color: #4ecdc4;
}

/* تنسيق الإطار */
.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 17px;
  background-color: #fff;
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
}

/* إخفاء زر اختيار الملف الأصلي */
input[type="file"] {
  display: none;
}

/* تصميم الزر الجديد */
#custom-file-upload {
  cursor: pointer;
}
/* تصميم نص اسم الملف */
#file-name {
  font-size: 19px;
  color: #333;
}

#method_search {
  display: flex;
  justify-content: space-evenly;
}

.doctor-info {
  text-align: right;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.doctor-info img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.doctor-info h2 {
  margin: 5px 0;
}

.doctor-bio {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.appointment-form input,
.appointment-form button {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
